@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #dad7d7;
  transition: .3s;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(135, 144, 167);
}


body {
  /* border: 2px solid red; */
  min-height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
}
div#root {
  /* border: 2px solid blue; */
  flex: 1;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #7B7B7B;
  transition: .3s;
  text-decoration: inherit;
}
a:hover {
  color: #343434;
}

/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

