div.banner {
    flex: 1;
    background-color: #EDF0F9;
    background-size: cover;
    background-position: center;
    color: #0D0E10;
    min-height: 450px;
    border-radius: 25px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: calc(40px / 2);
}

div.banner.short {
    min-height: 200px;
}

@media screen and (max-width: 767px) {
    div.banner {
        min-height: 400px;
        padding: 30px;
        /* gap: calc(30px / 2); */
    }

    div.banner.short {
        min-height: 150px;
    }
}